<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.ctf.core.event.CtfTmfEvent"
            id="org.eclipse.linuxtools.lttng2.kernel.tracetype"
            isDirectory="true"
            name="%tracetype.type.kernel"
            trace_type="org.eclipse.tracecompass.lttng2.kernel.core.trace.LttngKernelTrace">
      </type>
      <experiment
            experiment_type="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.vm.trace.VirtualMachineExperiment"
            id="lttng2.analysis.vm.VirtualMachineExperiment"
            name="Virtual Machine Experiment">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.vm.module.VirtualMachineCpuAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.lttng2.analysis.vm.core.VirtualMachineAnalysisModule"
            name="Virtual Machine Analysis">
            <tracetype
                  applies="true"
                  class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.vm.trace.VirtualMachineExperiment">
            </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.graph.building.LttngKernelExecutionGraph"
            applies_experiment="true"
            id="org.eclipse.tracecompass.lttng2.kernel.core.execgraph"
            name="LTTng Kernel Exec Graph">
         <tracetype
               class="org.eclipse.tracecompass.lttng2.kernel.core.trace.LttngKernelTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.analysis.ondemand">
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngSyscallStatsAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis16">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngSchedTopAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis15">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngSchedLogAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis15">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngSchedStatsAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis14">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngSchedLogAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis13">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngSchedFreqAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis12">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngMemTopAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis11">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIrqStatsAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis10">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIrqLogAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis9">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIrqFreqAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis8">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIOUsageTopAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis7">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIOLogAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis6">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIOLatencyTopAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis5">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIOLatencyStatsAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis4">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngIOLatencyFreqAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis3">
      </analysis>
      <analysis
            class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.ondemand.lttnganalyses.LttngCpuTopAnalysis"
            id="org.eclipse.tracecompass.lttng2.kernel.core.analysis2">
      </analysis>
   </extension>
</plugin>
