<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.analysis.realtime.core.periods.PeriodAnalysisModule"
            applies_experiment="true"
            automatic="false"
            id="org.eclipse.tracecompass.analysis.realtime.periods"
            name="Real-Time Periods">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>

</plugin>
